__pycache__/
*.py[cod]
*.egg-info/

.venv/
venv/

.env
.env.*
!.env.example

staticfiles/
static/dist/*
!static/dist/.gitkeep
media/*
!media/.gitkeep

*.sqlite3
*.log
celerybeat-schedule*

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/

node_modules/

# Local Netlify folder
.netlify
